<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input  matInput
            type="number"
            [min]="minimum"
            [max]="maximum"
            [step]="step"
            [placeholder]="title"
            [name]="controlName"
            [formControlName]="controlName">
    <mat-error *ngIf="validation.hasErrorValidation(formControl, 'required')">Field required </mat-error>
    <mat-error *ngIf="validation.hasErrorValidation(formControl, 'min')">
      Min value {{validation.lengthValidation(formControl, 'min')}}
    </mat-error>
    <mat-error *ngIf="validation.hasErrorValidation(formControl, 'max')">
      Max value  {{validation.lengthValidation(formControl, 'max')}}
    </mat-error>
  </mat-form-field>
</div>
